.Popu, .favs{
    color:green;
    text-align:center;
}
body{
     background-image: url("../images/pizza6.png");
     background-size: cover;
     position: relative;
    }
.photos{
    display: flex;
    justify-content:center;
    }
.piedepagina{
    color: whitesmoke;
    background-color: orangered;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    border: 2px solid orange;
    border-radius:4px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-align: center;

}
.imagen{
    width: 100%;
}