@charset "UTF-8";

.navbar {
    background-size: cover;
    overflow: hidden;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    font-weight: bold;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border-radius: 4px;
    margin: 0;
}

.navbar a {
    float: left;
    display: block;
    color: Black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    border-radius: 4px;
    margin: 0;
    background-color: #f2f2f2;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
    font-weight: bold;
    border-radius: 4px;
}

.navbar a.active {
    background-color: orangered;
    color: white;
    font-weight: bold;
    border-radius: 4px;
}

.logo{
    width: 10vw;
}